<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    html
    {
        background: url(./backgrounds/administerTest.jpg);
        background-size: 100%;
        background-repeat: repeat-y;
        font-family: tahoma;
    }
  </style>
  <title> Test </title>
</head>
<body>

<p align="right">
<b><a href="login.py" style="text-decorations:none; color:inherit;">Log out</a></b>
</p>

<h1> number_placeholder. question_placeholder </h1>
<form action="administerTest.py" method="POST">

<input type="hidden" name="name" value="name_placeholder">
<input type="hidden" name="testChoice" value="testChoice_placeholder">
<input type="hidden" name="lastQuestion" value="lastQuestion_placeholder"> <!-- test for repeats -->

<input type="radio" name="answer" value="a"> a_placeholder <br>
<input type="radio" name="answer" value="b"> b_placeholder <br>
<input type="radio" name="answer" value="c"> c_placeholder <br>
<input type="radio" name="answer" value="d"> d_placeholder <br><br>
<input type="submit" value="Submit Answer">

</form>
<br>

</body>
</html>